{% extends 'header.html.twig' %}

{% block header %}

{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <h1>{% trans %} Привет {% endtrans %} {{ user }}</h1>
        <div class="container">
            <div class="row">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#">{% trans %}Главная страница{% endtrans %}</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">{% trans %}Выйти из системы{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#">{% trans %}Главная страница{% endtrans %}</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">{% trans %}Регистрация{% endtrans %}</a></li>
                    <li><a href="{{ path('fos_user_security_login') }}">{% trans %}Авторизация{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
        <h1> {% trans %} Привет Аноним {% endtrans %}</h1>
    {% endif %}

        {% if is_granted('ROLE_USER') %}
        <h2><a href="{{ path('app_basic_profile', {'id': user.id }) }}"> My Profile</a></h2>
        {% endif %}

        {% for user in users %}
            {% for photo in user.photos %}
                <div class="col-md-3">
                    <img  src="{{ vich_uploader_asset(photo, 'photoFile') }}" class="img-thumbnail" >
                    <p>{{ photo.description }}</p>
                    <b><a href="{{ path('app_basic_profile', {'id': user.id }) }}"> By {{ user.name }}</a></b>
                </div>
            
            {% endfor %}
        {% else %}
            There are no notes!
        {% endfor %}

{% endblock %}

