{% extends '::base.html.twig' %}

{% block header %}
    {% if is_granted('ROLE_USER') %}
        <div class="container">
            <div class="row">
                <ul class="nav nav-tabs">
                    <li ><a href="{{ path('homepage') }}">{% trans %}Главная страница{% endtrans %}</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">{% trans %}Выйти из системы{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#">{% trans %}Главная страница{% endtrans %}</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">{% trans %}Регистрация{% endtrans %}</a></li>
                    <li><a href="{{ path('fos_user_security_login') }}">{% trans %}Авторизация{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}


{% block body %}

{% endblock %}
