{% extends 'header.html.twig' %}

{% block body %}

    {% if is_granted('ROLE_USER') %}
        <h2><a href="{{ path('app_basic_profile', {'id': user.id }) }}"> My Profile</a></h2>
    {% endif %}
    <div class="col-md-12">

        <h1>{{ photo.description }}</h1>

    <img class="img-responsive" src="{{ vich_uploader_asset(photo, 'photoFile') }}" >

    <h2>Average Score: {{ scores }}</h2>
    <div class=" col-md-offset- 3 col-md-9">
        {% if is_granted('ROLE_USER') %}

        <h1>Add Comment</h1>
        {{ form_start(comment_form, {'action' : path('app_basic_addcomment', {'id' : photo.id })}) }}
        {{ form_widget(comment_form) }}
        {{ form_end(comment_form) }}
        {% endif %}
    </div>
    <div class="col-md-12">
        <h1>Comments</h1>
    {% for comment in comments %}
        <h4> <b>By {{ comment.user }} , score {{ comment.score }} </b> </h4>
        <h2><b>{{ comment.description }}</b> </h2>
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block title %}

{% endblock %}

