{% extends 'header.html.twig' %}


{% block body %}

    <h2><a href="{{ path('app_basic_profile', {'id': user.id}) }}">My profile</a></h2>

    {{ form_start(form_post) }}
    {{ form_widget(form_post) }}
    {{ form_end(form_post) }}
{% endblock %}

