{% extends 'header.html.twig' %}

    {% block body %}

        <h1>Профиль {{ user.username }} </h1> <h3><a href="{{ path('fos_user_profile_edit') }}"> Редактировать</a> </h3>

        {% if is_granted('ROLE_USER') %}
        <h2>My photos <a href="{{ path('app_basic_newpost') }}">Create new photo</a></h2>
        {% endif %}

        <table border="1" cellpadding="3">

            <tr>
                <th class="col-md-3"> Photo </th>
                <th class="col-md-3"> Title </th>
                <th class="col-md-3"> Actions </th>
            </tr>
            {% for photo in photos %}
            <tr>
            <td class="col-md-3">
                <img width="100" height="100" src="{{ vich_uploader_asset(photo, 'photoFile') }}" alt="{{ photo.description }}">
            </td>
            <td class="col-md-3">
                <a href="{{ path('app_basic_detailsphoto', {'id': photo.id }) }}"> {{ photo.description }}</a>
            </td>
            <td class="col-md-3">
                {% if is_granted('ROLE_USER') %}
                {% set form = Photo_remove_form.createView %}
                {{ form_start(form, {'action' : path('app_basic_removephoto', {'id' : photo.id })}) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
                {% endif %}

            </td>
                {% endfor %}
            </tr>
        </table>

    {% endblock %}